*{
    padding: 0;
    margin: 0;
    font-family: "PTSans";
    border:1px solid blue;
}

.body{
    display: block;
}

.header{
    display: flex;
    background: grey;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    text-align: center;


    vertical-align: middle;
}

.header div{
    display: inline-block;
    vertical-align: middle;
}

.phone{
    justify-content: center;
    position: absolute;
    right: 100px;
    color: rgb(255, 255, 255);
    text-align: center;

    display: inline-block;
    vertical-align: middle;

    /* justify-content: center;
    align-items: center; */
}

.phone span, img, button{
    vertical-align: middle;
}

.phone button{
    border-radius: 5px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.logo{
    justify-content: center;
    position: absolute;
    left: 100px;
    color: rgb(255, 255, 255);
    text-align: center;

    display: inline-block;
    vertical-align: middle;

    /* justify-content: center;
    align-items: center; */
}

.logo img, .logo span{
    /* border:1px solid green; */
    vertical-align: middle;
}

.hello_section{
    position: relative;
    display: flex;
    align-items: center;
    height: 700px;
    width: 100%;
    /* height: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background: url(img/Blue\ BG.png);
    border:1px solid red;
}


.img_faucet{
    position: absolute;
    height: 70%;
    width: auto;
    bottom: 0px;
    right: 0px;
}

.hello_section h1{
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    border:1px solid greenyellow;
}


.hello_section h1 div span{
    top: 50px;
    display: flex;
}

.hello_section .id1{
    display: inline-block;
    position: relative;
    top: 100px;
}

.hello_section h1 img{
    display: inline-block;
    position: relative;
    top: 100px;
}

/* .hello_section img{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;

} */

.hello_section div ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: block;
    list-style: none;
}


.hello_section div ul a:hover{
    font-size: 20px;
    color: orange;
    text-decoration: none;
}

.hello_section span{
    color: white;
    font-size: 80px;
}

/* discription */

.discription{
    background: gainsboro;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.discription span{
    align-items: center;
    align-content: center;
    width: 40%;
}

.about{
    width: 40%;
}


.discription span h1{
    color: orange;
    display: inline;
}

.discription span{
    display: inline-block;
    vertical-align: middle;
}


.discription div div h1 span{
    display: block;
}

.discription div div h1{
    display: inline;
    font-size: 10px;
}

.discription div div img{
    display: inline;
    height: 30px;
    color: black;
}

.about-text{
    width: 50%;
}

.discription div div{
    display: flex;
    
}

.about{
    display: table;
}

.about div{
    display: table;
}

.about div img{
    display: table-cell;
}

.about div h1{
    display: table-cell;
}

/* produkts_section */

.produkts_section{
    background: white;
    position: relative;
    display: flex;
}

.produkts_section .div1_produkts_section{
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 100px;
    left: 100px;

}

.produkts_section div span{
    display: block;
    font-size: 30px;
}

.produkts_section div ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produkts_section div ul li{
    /* display: flex; */
    /* justify-content: space-between; */
}

.produkts_section div ul li div{
    position: relative;
    /* justify-content: space-between; */
}



.produkts_section div ul li img{
    height: 350px;
    width: 287px;
}

.produkts_section div ul li p{
    position: absolute;
    color: white;
    font-size: 20px;
    bottom: 20px;
    left: 20px;
    z-index: 100;
}

/* collection */

.collection{
    position: relative;
    display: flex;
}

.div1_collection{
    position: absolute;
    justify-content: center;
}

.div1_collection div{
    width: 50%;
    display: inline;
    background-color: gray;
}

.div1_collection img{
    display: inline;
    width: 50%;
}







@font-face {
	font-family: 'PTSans'; 
	src: url(/fonts/PTSans-Regular.ttf); 
}